<div class="container convert">
  <h3 class="text-center mb-4">Payment Form </h3>
  <div class="row ">
    <div class="form-group col-6">
      <label>Reciver Name</label>
      <input class="form-control" (input)="onChangeName($event.target.value)"/>

    </div>
    <div class="col">
      <label><b>Reciver Name</b></label>
      <div>{{name |titlecase}}</div>

    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onChangeDate($event.target.value)"/>

    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>{{date | date:'MMMM d, y'}}</div>

    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input class="form-control" (input)="onChangeAmount($event.target.value)"/>

    </div>
    <div class="col">
      <label><b>Amount</b></label>
      <div>{{amount | currency}}</div>

    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" (input)="onChangeHeight($event.target.value)"/>

    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>{{height|number:'1.0-3'}}</div>

    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" (input)=" onChangeMiles($event.target.value)"/>

    </div>
    <div class="col">
      <label><b>Kilometers</b></label>
      <!-- <div *ngIf="(miles | convert: 'km')>10">{{miles|convert:'km'}}</div> -->
      <!-- <div >{{miles|convert:'cm'|number:'1.0-3'}}</div> -->
      <div >{{miles|convert:'km'}}</div>



    </div>
  </div>
</div>
<!-- {{car |json}} -->





